SMTP_HOST=mail.infomaniak.com
SMTP_PORT=587
SMTP_USER=contact@collectif-ecole-km.fr
MAIL_FROM_ADDRESS=contact@collectif-ecole-km.fr
MAIL_FROM_NAME=Collectif Kergrist-Moëlou
IMAP_SYNC_ENABLED=true
IMAP_HOST=mail.infomaniak.com
IMAP_PORT=993
IMAP_USER=contact@collectif-ecole-km.fr