rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Règles pour la collection "membres"
    
    // Règles pour la collection "articles"
    
    match /faqs/{faqId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /commentaires/{commentId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null;
    }

    match /articles/{articleId} {
      // Tout le monde peut lire les articles publiés
      allow read: if resource == null || resource.data.status == 'published' || request.auth != null;
      // Seuls les administrateurs peuvent créer, modifier ou supprimer
      allow create, update, delete: if request.auth != null;
    }

    match /membres/{membreId} {
      // Les anonymes peuvent s'inscrire en 'pending', l'admin peut tout créer
      allow create: if (request.resource.data.keys().hasAll(['prenom', 'nom', 'email', 'dateInscription', 'status'])
                    && request.resource.data.status == 'pending') || (request.auth != null);
      
      allow read, update, delete: if request.auth != null;
    }
    // NOUVELLE RÈGLE POUR LES MAGIC LINKS
    match /magicLinks/{linkId} {
      // Autorise n'importe qui à demander un lien
      allow create: if true;
      allow read, update, delete: if false; // Personne ne peut lire les demandes des autres
    }
  }
}
